		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Registry Staff</h2>
							<ul class="bread-list">
								<li><a routerLink="">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li routerLink="staff" class="active">Staff</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->

  
  <section class="news-single section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="row">
            <div class="col-12">
              <div class="single-main">
                <!-- News Head -->
                <div class="news-head">

                  <!-- News Title -->
              <p class="news-title pl-3" style="color: #24b0ed;">The Registrar</p>
                
                </div>
                
                <div class="news-text flex-display">
                  <div class="col-md-7">
            
       <p class="text-justify" style="font-size: medium;">The Registrar, Professor Thomas Bhebhe holds a D.Phil (Malaysia), MSc in Leadership & Change Management (Leeds, UK); M.Ed Admin (UZ); HRM (National University of Singapore), B.Ed Admin(UZ), Post-grad Certificate in Higher Education Management (Wits University, SA); Cert. in Human Resources Management (Israel), CE (UZ); FIPMZ 
      
                              
        Prof. Bhebhe is a refined scholar and researcher in his own right having won the Academic Excellence Award for his D.Phil. Prof. Bhebhe has amassed vast international exposure in Higher Education having travelled to various parts of the world to study University academic and human resources management practices at such prestigious institutions as Glasgow University, Strathclyde University, Glasgow Caledonian University in Scotland, Newcastle University and Northumbria University in England; Kwameh Nkrumah University of Science and Technology in Ghana, the National University of Singapore, Queensland University of Technology in Australia, Michigan State University, University of Colarado and New York University in the USA, Witwatersrand, KwaZulu Natal, Tshwane and the University of Venda in South Africa among others. This gives him the much needed cutting-edge experience in handling complex administrative matters of a modern university such as CUT. 
        
      </p>            
                    
                  </div>
                  <div class="col-md-5 ">
                    <img class="mx-auto" src="assets/images/tt.png">
                    
                
                   <br>
                    <h4 class="ts-name mx-auto text-center" style="font-size: 20px;">Professor. T Bhebhe</h4> 
                  
          
                  </div><!-- Col end -->
          
        
             
                 
                </div>
                
              </div>
            </div>
          
            
          </div>
        </div>
      
      </div>
    </div>
  </section>
  
  <section class="news-single section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-12">
          <div class="row">
            <div class="col-12">
              <div class="single-main">
                <!-- News Head -->
                <div class="news-head">

                  <!-- News Title -->
              <p class="news-title" style="color: #24b0ed;">Section Staff</p>
                
                </div>
                
                <div class="news-text flex-display">
                  <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/mann.png" style="max-height: 25rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Dr Hamudiwamwe Mandibaya</h3>
                            <p class="ts-designation">Deputy Registrar, Academic</p>
                            
                            <p class="ts-description"></p>
                         
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
                      <!--/ Team wrapper 3 end -->
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/ma.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Ms Tsitsi Mlilwani</h3>
                            <p class="ts-designation">Acting Secretary,Deputy Registrar, Academic</p>
                            <p class="ts-description"></p>
                       
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
                      <!--/ Team wrapper 3 end -->
                    </div><!-- Col end -->



                 

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/irene.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Ms Irene Karindira</h3>
                            <p class="ts-designation">Senior Assistant Registrar, Registration and Records Management</p>
                            
                            <p class="ts-description"></p>
                      
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
                      <!--/ Team wrapper 3 end -->
                    </div><!-- Col end -->

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/chihota.png" style="max-height: 16rem"class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Ms Mirillette Chihota</h3>
                            <p class="ts-designation">Senior Assistant Registrar, Academic</p>
                            <p class="ts-description"></p>
                        
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
                      <!--/ Team wrapper 3 end -->
                    </div><!-- Col end -->
                    
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/mas.png" style="max-height: 16rem"  class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mrs Jeniffer Masvaure</h3>
                            <p class="ts-designation">Examinations Officer</p>
                            <p class="ts-description"></p>
                            
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
                      <!--/ Team wrapper 3 end -->
                    </div><!-- Col end -->

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr Elias Rashid</h3>
                            <p class="ts-designation">Assistant Registrar, Exams</p>
                            <p class="ts-description"></p>
                         
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
                      <!--/ Team wrapper 3 end -->
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/avatar.jpg"  class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr. M. Mhonda</h3>
                            <p class="ts-designation">Assistant Registrar, School of Agricultural Sciences and Technology</p>
                            <p class="ts-description"></p>
                         
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
                      <!--/ Team wrapper 3 end -->
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/makiri.png"  style="max-height: 16rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mrs Makirimani</h3>
                            <p class="ts-designation"></p>
                            
                            <p class="ts-description"></p>
                     
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
                      <!--/ Team wrapper 3 end -->
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr. C. Mudyiwa</h3>
                            <p class="ts-designation">Assistant Registrar,School of Natural Sciences and Mathematics</p>
                            
                            <p class="ts-description"></p>
                          
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/zengeni.png" style="max-height: 16rem"  class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Ms. C. Zengeni</h3>
                            <p class="ts-designation">Assistant Registrar,School of Wildlife and Environmental Sciences</p>
                            <p class="ts-description"></p>
                          
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/avatar.jpg"  class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr. M. Musekiwa</h3>
                            <p class="ts-designation">Assistant Registrar,School of Art and Design</p>
                            <p class="ts-description"></p>
                      
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Ms. S. Chavura</h3>
                            <p class="ts-designation">Assistant Registrar,School of Entrepreneurship and Business Sciences</p>
                            <p class="ts-description"></p>
                          
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mrs. E.J. Sewera</h3>
                            <p class="ts-designation">Assistant Registrar,Institute of Material Science, Processing and Engineering Technology</p>
                            
                            <p class="ts-description"></p>
                         
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->


                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr. S. Chitimbe</h3>
                            <p class="ts-designation">Assistant Registrar,Graduate Business School</p>
                            
                            <p class="ts-description"></p>
                          
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/thabethe.png"  style="max-height: 16rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Ms. S. Thabethe</h3>
                            <p class="ts-designation">Assistant Registrar,School of Hospitality and Tourism</p>
                            <p class="ts-description"></p>
                         
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
              
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Ms. C. Jack</h3>
                            <p class="ts-designation">Assistant Registrar,Institute of Lifelong Learning and Developmental Studies</p>
                            <p class="ts-description"></p>
                      
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
              
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/muchine.png" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Ms. N. Muchine</h3>
                            <p class="ts-designation">Assistant Registrar,School of Health Sciences and Technology</p>
                            <p class="ts-description"></p>
                         
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/avatar.jpg"  class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr. C. Matienga</h3>
                            <p class="ts-designation">Assistant Registrar, Research and Graduate Studies</p>
                            <p class="ts-description"></p>
                          
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/mt.png"  style="max-height: 16rem"class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr Muchangwa</h3>
                            <p class="ts-designation"></p>
                            <p class="ts-description"></p>
                        
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/mc.png"  style="max-height: 16rem"class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr Johanne.</h3>
                            <p class="ts-designation"></p>
                            
                            <p class="ts-description"></p>
                        
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/mv.png"   style="max-height: 16rem"class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr Chikondo</h3>
                            <p class="ts-designation"></p>
                            <p class="ts-description"></p>
                      
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/sv.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr. Banda</h3>
                            <p class="ts-designation"></p>
                            <p class="ts-description"></p>
                       
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/gt.png"  style="max-height: 16rem"class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mrs. Nembaware</h3>
                            <p class="ts-designation"></p>
                            <p class="ts-description"></p>
                        
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/ko.png"  style="max-height: 16rem"class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Ms Mhlanga </h3>
                            <p class="ts-designation"></p>
                            
                            <p class="ts-description"></p>
                     
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/pl.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mrs. Chikoore</h3>
                            <p class="ts-designation"></p>
                            <p class="ts-description"></p>
                      
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/kl.png"  style="max-height: 16rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mrs. Mafukidze</h3>
                            <p class="ts-designation"></p>
                            <p class="ts-description"></p>
                          
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/let.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr. Ncube</h3>
                            <p class="ts-designation"></p>
                            <p class="ts-description"></p>
                         
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/lpl.png" style="max-height: 16rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr. Kachikwere</h3>
                            <p class="ts-designation"></p>
                            
                            <p class="ts-description"></p>
                         
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/priscilla.png"  style="max-height: 16rem"class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mrs. Mushababiri</h3>
                            <p class="ts-designation"></p>
                            <p class="ts-description"></p>
                        
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
              
              
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/kachepa.png"  style="max-height: 16rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mrs Kachepa</h3>
                            <p class="ts-designation"></p>
                          
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->

                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/avatar.jpg" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Ms. J. Rusere</h3>
                            <p class="ts-designation">Assistant Registrar,Academy of Teaching and Learning</p>
                            <p class="ts-description"></p>
                       
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                   
                     
                      </div>
            
                    </div><!-- Col end -->
              
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
                  
                      <div class="single-table">
                        <div class="ts-team-wrapper">
                          <div class="team-img-wrapper">
                            <img loading="lazy" src="assets/images/chik.png"  style="max-height: 16rem" class="img-fluid" alt="team-img">
                          </div>
                          <div class="ts-team-content-classic">
                            <h3 class="ts-name">Mr. Ngwate</h3>
                            <p class="ts-designation"></p>
                            <p class="ts-description"></p>
                       
                            <div class="team-social-icons">
                              <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-google-plus"></i></a>
                              <a target="_blank" href="#"><i class="fab fa-linkedin"></i></a>
                            </div>
                            <!--/ social-icons-->
                          </div>
                        </div>
                     
                      </div>
            
                    </div><!-- Col end -->
              
              
              
                   
                  </div>
                  
             
          
        
             
                 
                </div>
                
              </div>
            </div>
          
            
          </div>
        </div>
      
      </div>
    </div>
  </section>