.flex-display{
    display: flex;
}
 .single-table {
    background: #fff;
    border: 1px solid #ddd;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 15px 0;
    padding: 45px 35px 30px 35px;
    height: 400px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 44%);
}

.news-single .single-main {
    margin-top: 30px;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 15px rgb(0 0 0 / 44%);
    border-radius: 8px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    height: 200px;
}

.team-social-icons{
   display: none !important;
}