		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Admissions</h2>
							<ul class="bread-list">
								<li><a routerLink="">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li routerLink="admission" class="active">Admission</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">
							
									<!-- News Title -->
									<h1 class="news-title"><a href="news-single.html" style="color: #24b0ed;">THE ADMISSION OFFICE.</a></h1>
									<!-- Meta -->
									<div class="meta">
									<p style="text-align: justify;">It is the entry point into the University and as such it is an integral unit that ensures fair, transparent and quality students enrolment. It is also the custodian of the University General Academic Regulations (standards). The Office implements the University regulations to achieve the University goals of educating, training and developing the people of this country. .

                  </p>
									</div>
									<!-- News Text -->
									<div class="news-text">
                    <div class="accordion accordion-group accordion-classic" id="safety-accordion">
                      <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingFour">
                          <h2 class="mb-0" >
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour"
                              aria-expanded="true" aria-controls="collapseFour" >
                              1. Consulting Schools/Institutes
                            </button>
                          </h2>
                        </div>
            
                        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                          data-parent="#safety-accordion">
                          <div class="card-body"  style="font-size: 13px;text-align: justify;" >
                              Consulting Schools/Institute about specific programme requirements and programmes on offer
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingFive">
                          <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                              data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              2. Use approved programme regulations to craft the advertisements
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#safety-accordion">
                          <div class="card-body" style="font-size: 13px;text-align: justify;">
                              Use approved programme regulations to craft the advertisements
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header p-0 bg-transparent" id="headingSix">
                          <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                              data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              3. Marketing all University programmes, that is, undergraduate and post graduate.
                            </button>
                          </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                          data-parent="#safety-accordion">
                          <div class="card-body" style="font-size: 13px;text-align: justify;">
                              Marketing all University programmes, that is, undergraduate and post graduate.
                          </div>
                        </div>
                      </div>
                      <div class="card">
                          <div class="card-header p-0 bg-transparent" id="headingSix">
                            <h2 class="mb-0">
                              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse3" aria-expanded="false" aria-controls="collapseSix">
                                4. Career guidance-advising
                              </button>
                            </h2>
                          </div>
                          <div id="collapse3" class="collapse" aria-labelledby="headingSix"
                            data-parent="#safety-accordion">
                            <div class="card-body" style="font-size: 13px;text-align: justify;">
                              Career guidance-advising potential students about the expected subjects combinations, cut-off points, normal, special and mature entries .
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header p-0 bg-transparent" id="headingSix">
                            <h2 class="mb-0">
                              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#Five" aria-expanded="false" aria-controls="collapseSix">
                                5. Preliminary selection-screening unqualified applications
                              </button>
                            </h2>
                          </div>
                          <div id="Five" class="collapse" aria-labelledby="headingSix"
                            data-parent="#safety-accordion">
                            <div class="card-body" style="font-size: 13px;text-align: justify;">
                              Preliminary selection-screening unqualified applications .
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header p-0 bg-transparent" id="headingSix">
                            <h2 class="mb-0">
                              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#Six" aria-expanded="false" aria-controls="collapseSix">
                                6. Receiving application forms, data capturing and rollover applicants to departments.
                              </button>
                            </h2>
                          </div>
                          <div id="Six" class="collapse" aria-labelledby="headingSix"
                            data-parent="#safety-accordion">
                            <div class="card-body" style="font-size: 13px;text-align: justify;">
                              Receiving application forms, data capturing and rollover applicants to departments.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header p-0 bg-transparent" id="headingSix">
                            <h2 class="mb-0">
                              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#Seven" aria-expanded="false" aria-controls="collapseSix">
                                7. Processing and dispatching acceptance and rejection letters.
                              </button>
                            </h2>
                          </div>
                          <div id="Seven" class="collapse" aria-labelledby="headingSix"
                            data-parent="#safety-accordion">
                            <div class="card-body" style="font-size: 13px;text-align: justify;">
                              Processing and dispatching acceptance and rejection letters
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header p-0 bg-transparent" id="headingSix">
                            <h2 class="mb-0">
                              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#Eight" aria-expanded="false" aria-controls="collapseSix">
                                8. Teaching and Learning Downloadable softwares.
                              </button>
                            </h2>
                          </div>
                          <div id="Eight" class="collapse" aria-labelledby="headingSix"
                            data-parent="#safety-accordion">
                            <div class="card-body" style="font-size: 13px;text-align: justify;">
                              Teaching and Learning Downloadable softwares.
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header p-0 bg-transparent" id="headingSix">
                            <h2 class="mb-0">
                              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#Nine" aria-expanded="false" aria-controls="collapseSix">
                                9. Document Validation
                              </button>
                            </h2>
                          </div>
                          <div id="Nine" class="collapse" aria-labelledby="headingSix"
                            data-parent="#safety-accordion">
                            <div class="card-body" style="font-size: 13px;text-align: justify;">
                              The office validates the authenticity of all application documents & Handling of all admission enquiries from applicants
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header p-0 bg-transparent" id="headingSix">
                            <h2 class="mb-0">
                              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#Ten" aria-expanded="false" aria-controls="collapseSix">
                                10. For liaising with other Institutions of Learning on the Academic Affairs of the University
                              </button>
                            </h2>
                          </div>
                          <div id="Ten" class="collapse" aria-labelledby="headingSix"
                            data-parent="#safety-accordion">
                            <div class="card-body" style="font-size: 13px;text-align: justify;">
                              For liaising with other Institutions of Learning on the Academic Affairs of the University
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header p-0 bg-transparent" id="headingSix">
                            <h2 class="mb-0">
                              <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse"
                                data-target="#Eleven" aria-expanded="false" aria-controls="collapseSix">
                                10. Advertising degree programmes.
                              </button>
                            </h2>
                          </div>
                          <div id="Eleven" class="collapse" aria-labelledby="headingSix"
                            data-parent="#safety-accordion">
                            <div class="card-body" style="font-size: 13px;text-align: justify;">
                              The Office is responsible for advertising all undergraduate and post graduate programmes. The Office flights advertisements for every intake in close liaison with Schools/Institute Deans on programmes offered, capacity per programme and resources.
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
								
								</div>
							</div>
					
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<!-- Single Widget -->
							<div class="single-widget search">
								<div class="form">
									<input type="text" class="search-input"  (input)="getProgram()"  [(ngModel)]="title"   placeholder="Search programmes...">
									<a class="button" type="button" ><i class="fa fa-search"></i></a>
                
								</div>
                <div *ngFor="let result of data" (click)="getProgramDetail(result)" style="cursor: pointer;">
                  <div class="card card-body">
                    {{result.title}}
                  </div>
                </div>
							</div>


        
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget category">
								<h3 class="title" style="color: #24b0ed;">Quick Links</h3>
								<ul class="categor-list">
									<li><a target="_blank" href="https://www.cut.ac.zw/online_application/" >Apply Now</a></li>
									<li><a target="_blank" href="https://elearning.cut.ac.zw/portal/index.php/cut_elearning/login" >Student Portal</a></li>
									<li><a target="_blank" href="https://www.cut.ac.zw/online_application/index.php/online_application/getstarted/track/0">Track Application</a></li>
									<li><a  target="_blank" href="https://www.cut.ac.zw/welcome/admissions">Programmes</a></li>
                  <li><a target="_blank" href="https://www.cut.ac.zw/welcome/faqs">FAQs</a></li>
								</ul>
							</div>
							<!--/ End Single Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Single News -->