	
		<!-- Get Pro Button -->
		<!-- <ul class="pro-features">
			<a class="get-pro" href="#">Get Pro</a>
			<li class="big-title">Pro Version Available on Themeforest</li>
			<li class="title">Pro Version Features</li>
			<li>2+ premade home pages</li>
			<li>20+ html pages</li>
			<li>Color Plate With 12+ Colors</li>
			<li>Sticky Header / Sticky Filters</li>
			<li>Working Contact Form With Google Map</li>
			<div class="button">
				<a href="http://preview.themeforest.net/item/mediplus-medical-and-doctor-html-template/full_screen_preview/26665910?_ga=2.145092285.888558928.1591971968-344530658.1588061879" target="_blank" class="btn">Pro Version Demo</a>
				<a href="https://themeforest.net/item/mediplus-medical-and-doctor-html-template/26665910" target="_blank" class="btn">Buy Pro Version</a>
			</div>
		</ul> -->
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a routerLink="about">About</a></li>
								<li><a routerLink="contact"> Contact</a></li>
								<li><a target="_blank" href="https://www.cut.ac.zw/welcome/faqs">FAQs</a></li>
								<li><a target="_blank" href="https://www.cut.ac.zw/welcome/admissions">Programmes</a></li>
             
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>(+263) 267-2122203-5</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">academicregistry@cut.ac.zw</a></li>
							</ul>
							<!-- End Top Contact -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a (click)="click()" onmousemove="" style="cursor: pointer !important;" ><img class="pb-2" src="assets/images/logo.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a (click)="click()" onmousemove="" style="cursor: pointer !important;"  >Home <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a target="_blank" href="https://www.cut.ac.zw/">Visit CUT Website</a></li>
												</ul>
											</li>
											<li routerLinkActive="active"><a routerLink="admission">Admission </a></li>
											<li routerLinkActive="active"><a routerLink="apply">How To Apply </a></li>
											<li routerLinkActive="active"><a routerLink="services">Services <i class="icofont-rounded-down"></i></a>
											
											</li>
                
                      <li routerLinkActive="active"><a routerLink="staff">Staff </a></li>
                     
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a target="_blank" href="https://www.cut.ac.zw/online_application/" class="btn " style="background-color: #24b0ed;">Join Us  <i class="fa-regular fa-face-grin-wink  fa-lg" style="color: #fff;padding: 2px;"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->