


.slider.btn {
  margin: 25% 5px 0;
  transform: translateX(-410px);
  /* border: 2px solid transparent; */
  /* padding-top: 200px; */
}

.slider.border {
  background: #24b0ed;
  /* border: 2px solid #cca351 !important; */
}