		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Services</h2>
							<ul class="bread-list">
								<li><a routerLink="">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li routerLink="/services" class="active">Services</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		<!-- Start service -->
		<section class="services section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2 style="color: #24b0ed;">We Offer the following services</h2>
		
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-prescription"></i>
							<h4><a href="service-details.html">Admission and Registration</a></h4>
							<p class="format" >The admission and registration procedures are designed to be accessible and user-friendly, offering comprehensive guidance and support to prospective students. The university employs modern digital systems to simplify the process, enabling a hassle-free enrollment experience for all applicants. </p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
              <i class="fa-solid fa-handshake"></i>
							<h4><a href="service-details.html">Advisory Services</a></h4>
							<p class="format"> (CUT) provides exceptional advisory services to its students, offering personalized guidance on academic, career, and personal development matters. The university's dedicated advisors are committed to nurturing students' potential, ensuring their success in both academic pursuits and future professional endeavors. </p>	
						</div>
						<!-- End Single Service -->
					</div>
          <div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="fa-solid fa-user-graduate"></i>
							<h4><a href="service-details.html">STUDENTS’ CAREERS ADVISE</a></h4>
							<p class="format">At CUT, students' career development is paramount, and the university offers comprehensive and tailored career advice services. With a dedicated team of career advisors, students receive guidance on career exploration, job search strategies, and skill development, empowering them to make informed decisions and excel in their chosen professional paths.</p>	
						</div>
						<!-- End Single Service -->
					</div>
	
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
              <i class="fa-solid fa-certificate"></i>
							<h4><a href="service-details.html">VERIFICATION OF STUDENTS CREDENTIALS</a></h4>
							<p class="format">Chinhoyi University places utmost importance on the verification of students' credentials, implementing a rigorous process to ensure the authenticity and accuracy of academic qualifications. Through diligent verification procedures, the university upholds academic integrity and guarantees the credibility of its graduates in the professional world.</p>	
						</div>
						<!-- End Single Service -->
					</div>
          <div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="fa-solid fa-database"></i>
							<h4><a href="service-details.html">Record Keeping and Management</a></h4>
							<p class="format">(CUT) maintains a robust record keeping and management system, ensuring the secure and efficient storage of student records and administrative documents. With meticulous attention to detail and adherence to data privacy regulations, CUT prioritizes the integrity and accessibility of records, facilitating effective decision-making and maintaining a reliable historical archive </p>	
						</div>
						<!-- End Single Service -->
					</div>
		
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
              <i class="fa-solid fa-book"></i>
							<h4><a href="service-details.html">SUPPORT FOR SYSTEMS PROCESSES WHICH UNDERPIN ACADEMIC ADMINISTRATION</a></h4>
							<p class="format">Chinhoyi University of Technology (CUT) provides robust support for the systems and processes that underpin academic administration, ensuring smooth and efficient operations. By leveraging modern technology and dedicated staff, CUT maintains a strong foundation for academic administration, fostering a conducive environment for effective teaching, learning, and research. </p>	
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->
